HR_MS_BASE_URL=https://sss-erp-hr-be.oykos.me/api
CORE_MS_BASE_URL=https://sss-erp-core-be.oykos.me/api
PROCUREMENT_MS_BASE_URL=https://sss-erp-procurements-be.oykos.me/api
BASIC_INVENTORY_MS_BASE_URL=https://sss-erp-inventory-be.oykos.me/api

CORE_FRONTEND_URL=https://sss-erp.oykos.me
HR_FRONTEND_URL=https://sss-erp-hr-fe.oykos.me
PROCUREMENTS_FRONTEND_URL=https://sss-erp-procurements-fe.oykos.me
INVENTORY_FRONTEND_URL=https://sss-erp-inventory-fe.oykos.me
ACCOUNTING_FRONTEND_URL=https://sss-erp-accounting-fe.oykos.me
FINANCE_FRONTEND_URL=https://sss-erp-finance-fe.oykos.me

DEBUG=false
