# This is a basic workflow to help you get started with Actions

name: Deploy to development server

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [development]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@master
        with:
            host: ${{vars.SSH_HOST}}
            username: ${{vars.SSH_USER}}
            password: ${{secrets.SSH_PASSPHRASE}}
            script: |
              cd /var/www/vhosts/oykos.me/${{vars.GIT_REPO}}.oykos.me
              [ -d "./github" ] && echo "Existing github directory" || mkdir github
              cd github
              rm -rf ./${{vars.GIT_REPO}}
              git clone -b development https://oykos-development-hub:${{secrets.GIT_ACCESS_TOKEN}}@github.com/oykos-development-hub/${{vars.GIT_REPO}}.git
              cd ./${{vars.GIT_REPO}}
              if ! command -v go &> /dev/null; then
                echo "Go version is 1.20 or higher!"
              elif [[ "$(go version)" != *"go1.20"* ]]; then
                sudo rm -rf /usr/bin/go
                echo "Go version is below 1.20. Installing Go 1.20..."
                wget https://dl.google.com/go/go1.20.linux-amd64.tar.gz
                sudo tar -C /usr/bin -xzf go1.20.linux-amd64.tar.gz
                echo 'export PATH=$PATH:/usr/bin/go/bin' >> ~/.bashrc
                source ~/.bashrc
                rm go1.20.linux-amd64.tar.gz
              fi
              export PATH="/usr/bin/go/bin:$PATH"
              go build
              if [ ! -f ./bff ]; then
                echo "Go build "bff" file does not exist!"
                exit 1
              fi
              cp ./bff ../../
              if ! command -v pm2 &> /dev/null; then
                echo "PM2 is not installed. Installing PM2..."
                npm install pm2@latest -g
              fi
              cd ../../
              pm2 delete sss-erp-bff
              pm2 start ./bff --name "sss-erp-bff" --watch
              pm2 save
